
.glyphicons-lg{
    font-size: 22px;
  line-height: 1.33;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            resize: none;
}